@use '../partials/typography.scss' as *;
@use '../partials/mixins' as *;
@use '../partials/variables' as *;

html {
  box-sizing: border-box;
  min-width: 20rem;
}
 
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.button {
  border: none;
  background-color: transparent;
  font-family: $font-stack;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;

  &--explore {
    background-color: $blue-button;
    color: $white;
    padding: 1rem 0;
    border-radius: 1.5rem;
    height: 2.5rem;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: -20px;

    @include tablet {
      height: 3rem;
      width: 150px;
      bottom: -25px;
      font-size: 18px;
    }

    @include desktop {
      height: 3rem;
      width: 150px;
      bottom: -25px;
      font-size: 18px;
    }
  }
}