$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$font-stack: 'Roboto', sans-serif;

$grey: #5f6368;
$title: #323232;
$border: rgba(60, 64, 67, 0.2);
$blue-button: rgb(26, 115, 232);
$Alabaster: #FAFAFA;
$Silver:#AFAFAF;
$white: #FFFFFF;
$Mercury: #E1E1E1;