@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem 1.5rem;
  border-radius: 0 0 16px 16px;
  box-shadow: 0 2px 2px 0 rgba(60, 64, 67, .3);
  // box-shadow: 0 2px 6px -6px rgba(60, 64, 67, .15);
  position: relative;

  @include tablet {
    padding: 0 2.25rem;
    height: 40rem;
  }

  @include desktop {
    max-width: 63.75rem;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    height: 43.75rem;
  }

  &__image {
    display: flex;
    object-fit: contain;
    width: 100%;

    &--img {
      width: inherit;
    }

    @include tablet {
      width: 43.75rem;
    }

    @include desktop {
      width: 43.75rem;
    }
  }

  &__title {
    font-size: 2.25rem;
    display: flex;
    width: 100%;
    justify-content: center;
    color: $title;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;

    &--input {
      display: flex;
      height: 3rem;  
      padding: 0.5rem;
      border: .0625rem solid $border;
      border-radius: .25rem;
      outline: none;
      width: 100%;
  
      &::placeholder {
        padding: 0 0.5rem;
        font-size: 1rem;
        // font-weight: 500;
        color: $grey;
        font-family: $font-stack;
      }
  
      @include tablet {
        padding: 0 2.1rem;
        // margin: 0 0.5rem ;
        height: 3.75rem;
        width: 100%;
      }
  
      @include desktop {
        padding: 0 2.1rem;
        width: 25rem;
        // margin: 0 0.5rem ;
        height: 3.75rem;
      }
    }

    &--input2 {
      margin-left: 0.7rem;
    }
  }

  &__icon-cont {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem 0;

    @include tablet {
    }

    @include desktop {
      max-width: 63.75rem;
      justify-content: center;
    }

    &--comp {
      position: absolute;
      top: 25px;
      color: $border;
      display: none;
      left: 1.25rem;

      @include tablet {
        display: flex;
        left: 0.8rem;
      }

      @include desktop {
        display: flex;
        left: 7.1875rem;
      }
    }

    &--comp2 {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 17px;
      left: 45%;
      color: $border;
      width: 30px;
      height: 30px;
      background-color: white;
      border-radius: 50%;
      border: .0313rem solid $border;

      @include tablet {
        width: 2.1875rem;
        height: 2.1875rem;
        display: flex;
        left: 47.5%;
        top: 1.2rem;
      }

      @include desktop {
        width: 40px;
        height: 40px;
        display: flex;
        left: 48%;
        top: 1.2rem;
      }
    }

    &--comp3 {
      position: absolute;
      top: 25px;
      color: $border;
      display: none;
      left: 1.25rem;

      @include tablet {
        display: flex;
        left: 52.5%;
      }

      @include desktop {
        display: flex;
        left: 33.3rem;
      }
    }

    &--comp4 {
      position: absolute;
      top: 13px;
      background-color: $white;
      // border: 1px solid $grey;
      left: 48%;
      width: .7rem;
      height: .7rem;
      border-radius: 50%;

      @include tablet {
        display: flex;
        left: 49%;
        top: 13px;
        width: .95rem;
        height: .9rem;
      }

      @include desktop {
        display: flex;
        left: 49.2%;
        top: 17px;
        width: 1rem;
        height: .95rem;
      }
    }

    &--comp5 {
      position: absolute;
      top: 39px;
      background-color: $white;
      // border: 1px solid $grey;
      left: 48%;
      width: .7rem;
      height: .7rem;
      border-radius: 50%;

      @include tablet {
        display: flex;
        left: 49%;
        top: 47px;
        width: .95rem;
        height: .95rem;
      }

      @include desktop {
        display: flex;
        left: 49%;
        top: 45px;
        width: 1.2rem;
        height: .95rem;
      }
    }

    &--comp6 {
      position: absolute;
      top: 12px;
      color: $border;
      display: none;
      left: 0.5rem;

      @include tablet {
        display: flex;
        left: 0.7rem;
      }

      @include desktop {
        top: 15px;
        display: flex;
        left: 0.8rem;
      }
    }
  }

  &__cont {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem 0;
    border: .0625rem solid $border;
    border-radius: .25rem;

    @include tablet {
      width: 100%;
    }

    @include desktop {
      max-width: 815px;
      justify-content: center;
      margin: 0 auto;
      height: 3.75rem;
    }

    &--input {
      display: flex;
      height: 2rem;  
      padding: 0.5rem;
      border: none;
      outline: none;
      width: 100%;
  
      // &:focus {
      // border: .125rem solid $BrainFlix-Blue;
      // }
  
      &::placeholder {
        padding: 0 0.5rem;
        font-size: 1rem;
        font-family: $font-stack;
        color: $grey;
      }
  
      @include tablet {
        padding: 0 2.1rem;
        width: 100%;
      }
  
      @include desktop {
        padding: 0 2.1rem;
        width: 25rem;
      }

      
    }

    &--input2 {
      border-left: .0625rem solid $border;
      display: flex;

      @include tablet{
        width: 100%;
      }

      @include desktop{
        width: 400px;
      }
    }
  }
}